langchain
langchain_core
langchain_google-genai
langchain_openai
langchain_huggingface
langchain_chroma
langchain_text-splitters
langgraph_cli[inmem]
sentence_transformers
langgraph
chromadb
pytest
pydantic
IPython
mermaid-cli
fastapi
slowapi
pandas_datareader
yfinance
sec-edgar-api
uvicorn
numpy<2
streamlit