langchain 
langchain-community 
langchain-core
langchain-huggingface
langchain-google-genai
langchain-openai
langgraph
chromadb
sentence-transformers
pydantic
IPython
mermaid-cli
fastapi
pandas_datareader
yfinance
uvicorn
numpy<2